<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdc.springmybastis.mapper.UserMapper">
    <select id="selectAllUser" resultType="com.cdc.springmybastis.model.User" timeout="20">
        select * from USER_community
    </select>
    <insert id="addUser" keyProperty="id" useGeneratedKeys="true" parameterType="com.cdc.springmybastis.model.User">
        insert into USER_community (username,password,money)
        values(#{username},#{password},#{money})
    </insert>
    <select id="getUserById" resultType="com.cdc.springmybastis.model.User">
      SELECT * FROM USER_community WHERE id=#{id}
    </select>
    <delete id="deleteUser" parameterType="com.cdc.springmybastis.model.User">
        delete from USER_community where id = #{id}
    </delete>
    <update id="updateUser" parameterType="com.cdc.springmybastis.model.User">
        update USER_community
        <set>
            <if test="username != null">username=#{username},</if>
            <if test="password != null">password=#{password},</if>
            <if test="money != null">money=#{money},</if>
        </set>
        where id = #{id}
    </update>
</mapper>
